{% extends 'NIMWebBundle::layout.html.twig' %}

{% import 'NIMFormBundle:bootstrap3:button.html.twig' as buttons %}
{% import 'NIMWebBundle:Contactable:macro.html.twig' as contactable %}
{% from 'NIMFormBundle:bootstrap3:show.html.twig' import displayedField %}
{% from 'NIMFormBundle:bootstrap3:show.html.twig' import displayedContantTranslatableField %}

{% block page_name %}
    <i class="icon-rocket"></i>
    {{ 'agency.title.show'|trans }}
{% endblock page_name %}


{% block page_action %}
    {{ buttons.back(path('nim_agency_index'), 'button.backToList') }}
    {{ buttons.edit(path('nim_agency_update', {'id' : agency.id}), 'button.edit') }}
    {{ buttons.delete(path('nim_agency_delete', {'id' : agency.id}), 'button.delete') }}
{% endblock page_action %}


{% block content %}
<div class="form-horizontal">
    {{ displayedField('name', agency.name, 'agency') }}
    {{ displayedField('street', agency.street, 'agency') }}
    {{ displayedField('postcode', agency.postcode, 'agency') }}
    {{ displayedField('city', agency.city, 'agency') }}
    {{ displayedField('country', agency.country|country, 'agency') }}
    <fieldset>
        <legend>{{ 'worker.field.email.label'|trans }}</legend>
        {{ contactable.emailList(agency.emails) }}
    </fieldset>
    <fieldset>
        <legend>{{ 'worker.field.phone.label'|trans }}</legend>
        {{ contactable.phoneList(agency.phones) }}
    </fieldset>
</div>
{% endblock %}