{% extends 'NIMWebBundle::layout.html.twig' %}

{% import 'NIMWebBundle:Macro:button.html.twig' as buttons %}
{% from 'NIMFormBundle:bootstrap3:macro.html.twig' import displayedField %}
{% from 'NIMFormBundle:bootstrap3:macro.html.twig' import displayedContantTranslatableField %}

{% block page_name %}
    <i class="icon-rocket"></i>
    {{ 'agency.title.show'|trans }}
{% endblock page_name %}


{% block page_action %}
    {{ buttons.back(path('nim_agency_index'), 'button.backToList') }}
    {{ buttons.edit(path('nim_agency_update', {'id' : agency.id}), 'button.edit') }}
    {{ buttons.delete(path('nim_agency_delete', {'id' : agency.id}), 'button.delete') }}
{% endblock page_action %}


{% block content %}
<div class="form-horizontal">
    {{ displayedField('name', agency.name, 'agency') }}
    {{ displayedField('street', agency.street, 'agency') }}
    {{ displayedField('postcode', agency.postcode, 'agency') }}
    {{ displayedField('city', agency.city, 'agency') }}
    {{ displayedField('country', agency.country|country, 'agency') }}
    <fieldset>
        <legend>{{ 'agency.field.email.label'|trans }}</legend>
        {% for email in agency.emails %}
            {{ displayedField('label', email.label, 'email') }}
            {{ displayedField('address', email.address, 'email') }}
        {% endfor %}
    </fieldset>
    <fieldset>
        <legend>{{ 'agency.field.phone.label'|trans }}</legend>
        {% for phone in agency.phones %}
            {{ displayedContantTranslatableField('type', phone.type, 'phone') }}
            {{ displayedField('number', phone.number, 'phone') }}
        {% endfor %}
    </fieldset>
</div>
{% endblock %}