{% extends 'NIMWebBundle::layout.html.twig' %}


{% block page_name %}
    <i class="glyphicon glyphicon-remove"></i>
    {{ message is defined ? message : 'confirmation.title'|trans }}
{% endblock page_name %}


{% block content %}
    <form action="{{ app.request.requestUri }}" method="post" class="delete-action-form" novalidate>
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="confirmed" value="1">
        <p>
            {{ message is defined ? message : 'confirmation.message'|trans }}
        </p>
        <div class="form-actions">
            <button class="btn btn-danger" type="submit">
                <i class="glyphicon glyphicon-trash"></i>
                {{ 'button.delete'|trans }}
            </button>
            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-info">
                <i class="glyphicon glyphicon-remove"></i>
                {{ 'button.back'|trans }}
            </a>
        </div>
    </form>
{% endblock %}