{% block nim_entity_mission_widget %}
    {% from 'NIMFormBundle:Bootstrap3:field.html.twig' import date %}
    {% spaceless %}
        {% set attr = attr | merge({'class' :  attr.class|default ~ ' tab-content row'}) %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <div class="col-lg-3 choice-entity-block">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <label class="expanded-choice-label">
                                <p class="title">
                                    {{ child.vars.label.title }}, {{ child.vars.label.country|country }}
                                </p>
                                <p>
                                    {{ date(child.vars.label.started_at) }}
                                    {{ 'general.to'|trans }}
                                    {{ date(child.vars.label.ended_at) }}
                                </p>
                                <p class="text-right">
                                    {{ form_widget(child) }}
                                </p>
                            </label>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock  %}

{% block nim_entity_worker_widget %}
    {% from 'NIMFormBundle:Bootstrap3:field.html.twig' import translatableContant %}
    {% spaceless %}
        {% set attr = attr | merge({'class' :  attr.class|default ~ ' tab-content row'}) %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <div class="col-lg-3 choice-entity-block">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <label class="expanded-choice-label">
                                <p class="title">
                                    {{ child.vars.label.name }} ({{ child.vars.label.country|country }})
                                </p>
                                <p>
                                    {{ child.vars.label.function }} ({{ translatableContant('worker', 'type', child.vars.label.type) }})
                                </p>
                                <p class="text-right">
                                    {{ form_widget(child) }}
                                </p>
                            </label>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock  %}

{% block nim_entity_vaccine_widget %}
    {% spaceless %}
        {% set attr = attr | merge({'class' :  attr.class|default ~ ' tab-content row'}) %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <div class="col-lg-3 choice-entity-block">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <label class="expanded-choice-label">
                                <p class="title">
                                    {{ child.vars.label.title }}
                                </p>
                                <p>
                                    {{ child.vars.label.description|truncate(200, true, '...') }}
                                </p>
                                <p class="text-right">
                                    {{ form_widget(child) }}
                                </p>
                            </label>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock  %}
