<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <title>
            {% block title %}
                {{ 'layout.page.title'|trans }}
            {% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# stylesheets #}
        {% block stylesheets %}
            {% stylesheets output='assets/compiled/nim.css' filter='cssrewrite'
                'bundles/nimweb/css/bootstrap.css'
                'bundles/nimweb/css/font-awesome.css'
                'bundles/nimweb/css/bootstrap-datepicker.css'
                'bundles/nimweb/css/select2/select2.css'
                'bundles/nimweb/css/select2/select2-bootstrap.css'
                'bundles/nimweb/css/nim.css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}

        {# javascripts... #}
        {% block javascripts %}
            {% javascripts
            'bundles/nimweb/js/lib/core/jquery.min.js'
            'bundles/nimweb/js/lib/core/bootstrap.min.js'
            'bundles/nimweb/js/lib/core/kortex.js'
            'bundles/nimweb/js/lib/plugin/*'
            'bundles/nimform/js/core/plugin-options-factory.js'
            'bundles/nimform/js/type/*'
            'bundles/nimweb/js/layout.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <header class="navbar-fixed-top" data-controller="header">
            <nav role="navigation" class="navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand logo" href="{{ path('nim_dashboard') }}">
                            <img alt="" src="{{ asset('bundles/nimweb/image/logo.png') }}">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        {% block user_menu %}
                        <ul class="nav navbar-nav navbar-right" role="menu">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    {{ app.user.username }}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a
                                           href="{{ path('fos_user_profile_show') }}">
                                            <i class="icon-wrench"></i>
                                            {{ 'menu.preference'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                           href="{{ path('fos_user_security_logout') }}">
                                            <i class="icon-off"></i>
                                            {{ 'menu.logout'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        {{ render(controller('NIMWebBundle:Locale:index')) }}
                        {% endblock user_menu %}

                        <ul class="nav navbar-nav" role="menu">
                            {% block main_menu %}
                                <li>
                                    <a href="{{ path('nim_dashboard') }}">
                                        <i class="icon-dashboard"></i>
                                        {{ 'menu.dashbord' | trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('nim_agency_index') }}">
                                        <i class="icon-rocket"></i>
                                        {{ 'menu.agency' | trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('nim_mission_index') }}">
                                        <i class="icon-rocket"></i>
                                        {{ 'menu.mission' | trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('nim_worker_index') }}">
                                        <i class="icon-male"></i>
                                        {{ 'menu.worker' | trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('nim_vaccine_index') }}">
                                        <i class="icon-beaker"></i>
                                        {{ 'menu.vaccine' | trans }}
                                    </a>
                                </li>
                            {% endblock main_menu %}
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container-fluid nav-second">
                <div class="row">
                    <h1 class="col-md-8">
                        {% block page_name %}
                            <i class="icon-dashboard"></i>
                            {{ 'layout.page.name'|trans }}
                        {% endblock page_name %}
                    </h1>

                    <nav id="action-menu" class="col-md-4 text-right actionButton">
                        {% block page_action %}{% endblock page_action %}
                    </nav>
                </div>
            </div>
        </header>

        <section class="content">
            <div class="container-fluid">
                {% from "NIMFormBundle:Bootstrap3:notification.html.twig" import flashes %}
                {{ flashes() }}
                {% block content %}
                {% endblock content %}

                {% include 'NIMWebBundle:Misc:confirmation-modal.html.twig' %}
            </div>
        </section>
        {% endblock body %}
    </body>
</html>
