{% extends "NimThemeBundle::layout.html.twig" %}

{% from 'NimThemeBundle:Macro:button.html.twig' import back %}
{% from 'NimWebBundle:Misc:button.html.twig' import submitFormButton %}

{% trans_default_domain 'FOSUserBundle' %}


{% block title %}
    {{ 'layout.page.title'|trans({'%page_title%' : 'account.title.edit'|trans({}, 'messages')}, 'messages') }}
{% endblock %}


{% block page_name %}
    <i class="icon-rocket"></i>
    {{ 'account.title.edit'|trans({}, 'messages') }}
{% endblock page_name %}


{% block page_action %}
    {{ back(path('fos_user_profile_show'), 'account.button.back') }}
    {{ submitFormButton('button.update', 'userCreateForm', 'edit') }}
{% endblock page_action %}

{% block content %}
    <form action="{{ path('fos_user_profile_edit') }}"
          method="post"
          role="form"
          id="userCreateForm"
          class="form-horizontal"
            {{ form_enctype(form) }}
          novalidate>
        {{ form_rest(form) }}
    </form>
{% endblock content %}
