{% extends "NIMWebBundle::layout.html.twig" %}

{% from 'NIMFormBundle:Bootstrap3:button.html.twig' import back %}
{% from 'NIMWebBundle:Misc:button.html.twig' import submitFormButton %}

{% trans_default_domain 'FOSUserBundle' %}


{% block title %}
    {{ 'layout.page.title'|trans({'%page_title%' : 'account.title.edit'|trans({}, 'messages')}, 'messages') }}
{% endblock %}


{% block page_name %}
    <i class="icon-rocket"></i>
    {{ 'account.title.edit'|trans({}, 'messages') }}
{% endblock page_name %}


{% block page_action %}
    {{ back(path('fos_user_profile_show'), 'account.button.back') }}
    {{ submitFormButton('button.update', 'userCreateForm', 'edit') }}
{% endblock page_action %}

{% block content %}
    <form action="{{ path('fos_user_profile_edit') }}"
          method="post"
          role="form"
          id="userCreateForm"
          class="form-horizontal"
            {{ form_enctype(form) }}
          novalidate>
        {{ form_rest(form) }}
    </form>
{% endblock content %}


<div class="panel panel-default unique-field">
    <div class="panel-body"><a href="#" data-form-collection="delete"><i
                    class="icon-remove collection-button-remove"></i></a>

        <div class="form-group ">
            <div>
                <div class="input-group"><span class="input-group-addon">@</span><input
                            id="nim_worker_contacts_0_emails_0_address"
                            name="nim_worker[contacts][0][emails][0][address]" required="required" class=" form-control"
                            type="text"></div>
            </div>
        </div>
    </div>
</div>