{% extends "NimThemeBundle::layout.html.twig" %}

{% import 'NimThemeBundle:Macro:button.html.twig' as buttons %}

{% trans_default_domain 'FOSUserBundle' %}


{% block title %}
    {{ 'layout.page.title'|trans({'%page_title%' : 'account.title.show'|trans({}, 'messages')}, 'messages') }}
{% endblock %}


{% block page_name %}
    <i class="icon-rocket"></i>
    {{ 'account.title.show'|trans({}, 'messages') }}
{% endblock page_name %}


{% block page_action %}
    {{ buttons.edit(path('fos_user_profile_edit'), 'account.button.edit') }}
{% endblock page_action %}

{% block content %}
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-2 control-label">
            {{ 'profile.show.username'|trans }}
        </label>
        <div class="col-lg-10">
            <p class="form-control-static">{{ user.username }}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">
            {{ 'profile.show.email'|trans }}
        </label>
        <div class="col-lg-10">
            <p class="form-control-static">{{ user.email }}</p>
        </div>
    </div>
</div>
{% endblock content %}
