{% extends 'NimWebBundle::layout.html.twig' %}


{% block title %}
    {{ 'layout.page.title'|trans({'%page_title%' : 'dashboard.title.index'|trans}) }}
{% endblock %}


{% block page_name %}
    <i class="icon-dashboard"></i>
    {{ 'dashboard.title.index'|trans }}
{% endblock page_name %}


{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'worker.title.dashboard'|trans }}</div>
                <div class="panel-body">
                    {% from 'NimWebBundle:Worker:macro.html.twig' import latest %}
                    {{ latest(workers) }}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'mission.title.dashboard'|trans }}</div>
                <div class="panel-body">
                    {% from 'NimWebBundle:Mission:macro.html.twig' import latest %}
                    {{ latest(missions) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
