{% extends 'NIMWebBundle::layout.html.twig' %}

{% import 'NIMWebBundle:Macro:button.html.twig' as buttons %}
{% from 'NIMWebBundle:Macro:misc.html.twig' import displayedField %}

{% block page_name %}
    <i class="icon-rocket"></i>
    {{ 'mission.title.show'|trans }}
{% endblock page_name %}


{% block page_action %}
    {{ buttons.back(path('nim_mission_index'), 'button.backToList') }}
    {{ buttons.edit(path('nim_mission_update', {'id' : mission.id}), 'button.edit') }}
    {{ buttons.delete(path('nim_mission_delete', {'id' : mission.id}), 'button.delete') }}
{% endblock page_action %}


{% block content %}
<div class="form-horizontal">
    {{ nim_translation(mission) }}
    {{ displayedField('country', mission.country|country, 'mission') }}
</div>
{% endblock %}