{% extends 'NIMWebBundle::layout.html.twig' %}

{% import 'NIMFormBundle:bootstrap3:button.html.twig' as buttons %}
{% from 'NIMFormBundle:bootstrap3:show.html.twig' import displayedField %}

{% block page_name %}
    <i class="icon-rocket"></i>
    {{ 'mission.title.show'|trans }}
{% endblock page_name %}


{% block page_action %}
    {{ buttons.back(path('nim_mission_index'), 'button.backToList') }}
    {{ buttons.edit(path('nim_mission_update', {'id' : mission.id}), 'button.edit') }}
    {{ buttons.delete(path('nim_mission_delete', {'id' : mission.id}), 'button.delete') }}
{% endblock page_action %}


{% block content %}
<div class="form-horizontal">
    {% if mission.endedAt is not defined %}
        {% set endedAt = mission.endedAt|localizeddate('long', 'none') %}
    {% endif %}
    {{ displayedField('translation', nim_translation(mission), 'mission') }}
    {{ displayedField('country', mission.country|country, 'mission') }}
    {{ displayedField('startedAt', mission.startedAt|localizeddate('full', 'none'), 'mission') }}
    {{ displayedField('endedAt', mission.endedAt|default, 'mission') }}
</div>
{% endblock %}