{% extends 'NIMWebBundle::layout.html.twig' %}

{% import 'NIMFormBundle:Bootstrap3:button.html.twig' as buttons %}
{% from 'NIMFormBundle:Bootstrap3:field.html.twig' import field_row %}
{% from 'NIMFormBundle:Bootstrap3:field.html.twig' import date %}


{% block title %}
    {{ 'layout.page.title'|trans({'%page_title%' : 'mission.title.show'|trans}) }}
{% endblock %}


{% block page_name %}
    <i class="icon-rocket"></i>
    {{ 'mission.title.show'|trans }}
{% endblock page_name %}


{% block page_action %}
    {{ buttons.back(path('nim_mission_index'), 'button.backToList') }}
    {{ buttons.edit(path('nim_mission_update', {'id' : mission.id}), 'button.edit') }}
    {{ buttons.delete(path('nim_mission_delete', {'id' : mission.id}), 'button.delete') }}
{% endblock page_action %}


{% block content %}
<div class="form-horizontal translated-form">
    {{ nim_translation(mission)}}
    {{ field_row('mission.field.country.label', mission.country|country) }}
    {{ field_row('mission.field.startedAt.label', date(mission.startedAt)) }}
    {{ field_row('mission.field.endedAt.label', date(mission.endedAt)) }}
</div>
{% endblock %}
