{% extends 'NimWebBundle::layout.html.twig' %}

{% import 'NimFormBundle:Bootstrap3:button.html.twig' as buttons %}
{% from 'NimWebBundle:Misc:button.html.twig' import submitFormButton %}


{% block title %}
    {{ 'layout.page.title'|trans({'%page_title%' : 'mission.title.create'|trans}) }}
{% endblock %}


{% block page_name %}
    <i class="icon-rocket"></i>
    {{ 'mission.title.create'|trans }}
{% endblock page_name %}


{% block page_action %}
    {{ buttons.back(path('nim_mission_index'), 'button.backToList') }}
    {{ submitFormButton('button.create', 'missionCreateForm') }}
{% endblock page_action %}


{% block content %}
    <form action="{{ path('nim_mission_create') }}"
          method="post"
          role="form"
          id="missionCreateForm"
          class="form-horizontal translated-form"
          novalidate>
        {% include 'NimWebBundle:Mission:_form.html.twig' %}
    </form>
{% endblock %}
