{% macro create(message) %}
    {{ _self.button(message, 'primary', 'plus-sign') }}
{% endmacro %}


{% macro new(url, message) %}
    {{ _self.link(url, message, 'primary', 'plus-sign') }}
{% endmacro %}


{% macro update(message) %}
    {{ _self.button(message, 'primary', 'edit') }}
{% endmacro %}


{% macro back(url, message) %}
    {{ _self.link(url, message, 'default', 'arrow-left') }}
{% endmacro %}


{% macro show(url, message, title) %}
<a href="{{ url }}"
   class="btn btn-default behat-details"
   {% if title is not null %}
   data-toggle="tooltip"
   data-placement="left"
   title="{{ title|default|trans }}">
   {% endif %}
    <i class="icon-book"></i>
    {{ message|default|trans }}
</a>
{% endmacro %}


{% macro edit(url, message, title) %}
    <a href="{{ url }}"
       {% if title is not null %}
       data-toggle="tooltip"
       data-placement="left"
       title="{{ title|default|trans }}"
       {% endif %}
       class="btn behat-edition {% if message is null %}btn-default{% else %}btn-primary{% endif %}">
    <i class="icon-edit"></i>
    {{ message|default|trans }}
</a>
{% endmacro %}


{% macro delete(url, message, title) %}
<form action="{{ url }}" method="post" style="display: inline;" data-confirmation="form">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger behat-deletion"
            data-confirmation="delete"
            data-toggle="modal"
            data-target="#confirmationModal"
            {% if title is not null %}
            data-toggle="tooltip"
            data-placement="left"
            title="{{ title|default|trans }}"
            {% endif %}>
        <i class="icon-trash"></i>
        {{ message|default|trans }}
    </button>
</form>
{% endmacro %}


{% macro listActionButton(routePrefix, id) %}
    {{ _self.show(path(routePrefix ~ '_show', {'id': id}), null, 'tooltip.show') }}
    {{ _self.edit(path(routePrefix ~ '_update', {'id': id}), null, 'tooltip.edit') }}
    {{ _self.delete(path(routePrefix ~ '_delete', {'id': id}), null, 'tooltip.delete') }}
{% endmacro %}


{% macro formAction(returned_url) %}
    <div class="button-action">
        {{ _self.link(returned_url, 'button.back', 'default', 'arrow-left') }}
        {{ _self.button('button.validate', 'primary', 'chevron-circle-down') }}
    </div>
{% endmacro %}


{% macro link(url, message, type, icon) %}
    <a href="{{ url }}" class="btn btn-{{ type }}">
        {% if icon is not empty %}
            <i class="glyphicon glyphicon-{{ icon }}"></i>
        {% endif %}
        {{ message|default|trans }}
    </a>
{% endmacro %}


{% macro button(message, type, icon) %}
    <button type="submit" class="btn btn-{{ type }}">
        {% if icon is not empty %}
            <i class="glyphicon glyphicon-{{ icon }}"></i>
        {% endif %}
        {{ message|default|trans }}
    </button>
{% endmacro %}