<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <title>
            {% block title %}
                {{ 'layout.page.title'|trans }}
            {% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# stylesheets #}
        {% block stylesheets %}
            {% stylesheets output='assets/compiled/theme.css' filter='cssrewrite'
            '@nim_theme_css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}

        {# javascripts... #}
        {% block javascripts %}
            {% javascripts output='assets/compiled/theme.js'
            '@nim_theme_js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <header class="navbar-fixed-top" data-controller="header">
            <nav role="navigation" class="navbar-inverse">
                <div class="container-fluid">
                    {% if logo %}
                    <div class="navbar-header">
                        <a class="navbar-brand logo" href="{{ path(dashboard_url) }}">
                            <img alt="" src="{{ asset(logo) }}">
                        </a>
                    </div>
                    {% endif %}
                    <div class="collapse navbar-collapse">
                        {% block user_menu %}
                            {{ knp_menu_render('user_menu') }}
                        {% endblock user_menu %}

                        {% block main_menu %}
                            {{ knp_menu_render('main_menu') }}
                        {% endblock main_menu %}
                    </div>
                </div>
            </nav>

            <div class="container-fluid nav-second">
                <div class="row">
                    <h1 class="col-md-8">
                        {% block page_name %}
                            <i class="icon-dashboard"></i>
                            {{ 'layout.page.name'|trans }}
                        {% endblock page_name %}
                    </h1>

                    <nav id="action-menu" class="col-md-4 text-right action-button">
                        {% block page_action %}{% endblock page_action %}
                    </nav>
                </div>
            </div>
        </header>

        <section class="content">
            <div class="container-fluid">
                {% from "NimThemeBundle:Macro:notification.html.twig" import flashes %}
                {{ flashes() }}
                {% block content %}
                {% endblock content %}

                {% include 'NimThemeBundle:Macro:confirmation-modal.html.twig' %}
            </div>
        </section>
        {% endblock body %}
    </body>
</html>
