{% extends 'NIMWebBundle::layout.html.twig' %}

{% import 'NIMWebBundle:Contactable:macro.html.twig' as contactable %}
{% import 'NIMFormBundle:bootstrap3:button.html.twig' as buttons %}
{% from 'NIMFormBundle:bootstrap3:show.html.twig' import displayedField %}
{% from 'NIMFormBundle:bootstrap3:show.html.twig' import address %}
{% from 'NIMFormBundle:bootstrap3:show.html.twig' import displayedContantTranslatableField %}
{% from 'NIMFormBundle:bootstrap3:alert.html.twig' import info %}


{% block page_name %}
    <i class="icon-rocket"></i>
    {{ 'worker.title.show'|trans }}
{% endblock page_name %}


{% block page_action %}
    {{ buttons.back(path('nim_worker_index'), 'button.backToList') }}
    {{ buttons.edit(path('nim_worker_update', {'id' : worker.id}), 'button.edit') }}
    {{ buttons.delete(path('nim_worker_delete', {'id' : worker.id}), 'button.delete') }}
{% endblock page_action %}


{% block content %}
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#worker" data-toggle="tab">
            {{ 'worker.tab.worker'|trans }}
        </a>
    </li>
    <li>
        <a href="#contact" data-toggle="tab">
            {{ 'worker.tab.contact'|trans }}
        </a>
    </li>
</ul>

<div class="tab-content">
    <div class="form-horizontal row tab-pane active" id="worker">
        <fieldset class="col-md-6">
            <legend>
                {{ 'worker.fieldset.contactdetails'|trans }}
                <i class="icon-{{ worker.gender }}"></i>
            </legend>
            {% if worker.leftAt is not defined %}
                {% set leftAt = worker.leftAt|localizeddate('long', 'none') %}
            {% endif %}
            {{ displayedField('name', worker.firstname ~ ' ' ~ worker.lastname, 'worker') }}
            {{ displayedField('diploma', worker.diploma, 'worker') }}
            {{ displayedField('birthday', worker.birthday|localizeddate('long', 'none'), 'worker') }}
            {{ displayedField('address', address(worker.street, worker.postcode, worker.city, worker.country|country), 'worker') }}
            {{ contactable.emailList('email', worker.emails, 'worker') }}
            {{ contactable.phoneList('phone', worker.phones, 'worker') }}
        </fieldset>
        <fieldset class="col-md-6">
            <legend>{{ 'worker.fieldset.organization'|trans }}</legend>
            {{ displayedField('basedAt', worker.basedAt, 'worker') }}
            {{ displayedField('function', worker.function, 'worker') }}
            {{ displayedField('arrivedAt', worker.arrivedAt|localizeddate('long','none'), 'worker') }}
            {{ displayedField('leftAt', leftAt|default, 'worker') }}
        </fieldset>

    </div>
    <div class="form-horizontal row tab-pane" id="contact">
        {% if worker.contacts|length > 0 %}
            {% for contact in worker.contacts %}

        <fieldset class="col-md-6">
            <legend>{{ 'contact.fieldset.contact'|trans }}</legend>
                    {{ displayedField('name', contact.firstname ~ ' ' ~ contact.lastname, 'contact') }}
                    {{ displayedField('address', address(contact.street, contact.postcode, contact.city, contact.country|country), 'contact') }}
                    {{ contactable.emailList('email', contact.emails, 'contact') }}
                    {{ contactable.phoneList('phone', contact.phones, 'contact') }}
        </fieldset>
            {% endfor %}
        {% else %}
            {{ info('contact.message.empty'|trans) }}
        {% endif %}
    </div>
</div>
{% endblock %}