{% extends 'NIMWebBundle::layout.html.twig' %}

{% import 'NIMFormBundle:Bootstrap3:button.html.twig' as buttons %}
{% from 'NIMWebBundle:Misc:button.html.twig' import submitFormButton %}
{% from 'NIMFormBundle:Bootstrap3:notification.html.twig' import errors %}

{% block page_name %}
    <i class="icon-rocket"></i>
    {{ 'worker.title.update'|trans }}
{% endblock page_name %}


{% block page_action %}
    {{ buttons.back(path('nim_worker_index'), 'button.backToList') }}
    {{ submitFormButton('button.update', 'workerUpdateForm', 'edit') }}

{% endblock page_action %}


{% block content %}
    <form action="{{ path('nim_worker_update', {'id': worker.id}) }}"
          method="post"
          role="form"
          id="workerUpdateForm"
          novalidate>
        <ul class="nav nav-tabs">
            <li class="active" >
                <a href="#worker"
                   data-toggle="tab"
                   {% if not form.vars.valid %}class="text-danger"{% endif %}>
                    {{ 'worker.tab.worker'|trans }}
                    {% if not form.vars.valid %}
                        <i class="icon-exclamation-sign"></i>
                    {% endif %}
                </a>
            </li>
            <li>
                <a href="#contact"
                   data-toggle="tab"
                   {% if not form.contacts.vars.valid %}class="text-danger"{% endif %}>
                    {{ 'worker.tab.contact'|trans }}
                    {% if not form.contacts.vars.valid %}
                    <i class="icon-exclamation-sign"></i>
                    {% endif %}
                </a>
            </li>
            <li>
                <a href="#immigration"
                   data-toggle="tab"
                   {% if not form.passports.vars.valid or not form.visas.vars.valid%}class="text-danger"{% endif %}>
                    {{ 'worker.tab.immigration'|trans }}
                    {% if not form.passports.vars.valid or not form.visas.vars.valid %}
                    <i class="icon-exclamation-sign"></i>
                    {% endif %}
                </a>
            </li>
            {#<li>#}
                {#<a href="#mission"#}
                   {#data-toggle="tab"#}
                   {#{% if not form.missions.vars.valid %}class="text-danger"{% endif %}>#}
                    {#{{ 'worker.tab.mission'|trans }}#}
                    {#{% if not form.missions.vars.valid %}#}
                        {#<i class="icon-exclamation-sign"></i>#}
                    {#{% endif %}#}
                {#</a>#}
            {#</li>#}
        </ul>

        <div class="tab-content">
            <div class=" tab-pane active" id="worker">
                {% include 'NIMWebBundle:Worker:_create.html.twig' %}
            </div>
            <div class="form-horizontal tab-pane" id="contact">
                {{ form_widget(form.contacts) }}
            </div>
            <div class="form-horizontal tab-pane" id="immigration">
                {{ form_widget(form.passports) }}
                {{ form_widget(form.visas) }}
            </div>
            {#<div class="form-horizontal tab-pane" id="mission">#}
                {#{{ form_widget(form.missions) }}#}
            {#</div>#}
        </div>
    </form>
{% endblock %}
